@model AthleteSystem.Models.Athlete

@{
    ViewData["Title"] = "Create Athlete";
}

<h2>Add New Athlete</h2>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Age</label>
        <input asp-for="Age" type="number" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Sport Category</label>
        <input asp-for="SportCategory" class="form-control" />
        <span asp-validation-for="SportCategory" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Save</button>
    <a href="/Athlete" class="btn btn-secondary mt-3">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
